<div class="card mb-4 shadow-sm">
  <img [src]="item.imageUrl" alt="" class="card-img-top" />
  <div class="card-body">
    <div class="card-text">
      <p>{{ item.name }}</p>
      <p>{{ item.price | currency: "CAD":"symbol" }}</p>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="sendEvent()"
        >
          Add to bag
        </button>
      </div>
      <button class="btn btn-dark btn-sm">Update</button>
      <button class="btn btn-warning btn-sm">Delete</button>
      <small class="text-muted" *ngIf="item.newly">New</small>
    </div>
  </div>
</div>
