<div
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-5 bg-white border-bottom shadow-sm"
>
  <div class="my-0 mr-md-auto font-weight-bold co-logo" routerLink="/home">
    <fa-icon [icon]="faGem"></fa-icon>&nbsp;&nbsp;topluxury<span
      class="lighten"
    >
      shoplist</span
    >
  </div>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 active" routerLink="/home">Home</a>
    <a class="p-2" routerLink="/shopping-bag">Shopping Bag</a>
    <span ngbDropdown class="dropdown">
      <a
        class="dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        ngbDropdownToggle
      >
        Username
      </a>
      <div
        class="dropdown-menu"
        aria-labelledby="dropdownMenuButton"
        ngbDropdownMenu
      >
        <a class="dropdown-item" href="#" ngbDropdownItem>My Orders</a>
        <a class="dropdown-item" href="#" ngbDropdownItem>Manage Orders</a>
        <a class="dropdown-item" routerLink="/manage" ngbDropdownItem
          >Manage Items</a
        >
      </div>
    </span>
  </nav>
  <a class="btn btn-outline-primary" routerLink="/login">Login</a>
</div>
