<h1>Create Item</h1>
<div class="card">
  <div class="card-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" placeholder="Enter item name" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter item description"
      />
    </div>
    <div class="form-group">
      <label for="name">Price</label>
      <input type="text" class="form-control" placeholder="Enter item price" />
    </div>
    <button type="submit" class="btn btn-outline-dark btn-block">Create</button>
  </div>
</div>
