<div class="row">
  <div class="col-md-6 mx-auto">
    <p *ngIf="onLoginPage">
      Please enter your credentials to login. Don't have an account?
      <a routerLink="/sign-up">Sign-up</a>
    </p>
    <div class="card p-3">
      <div class="card-body">
        <h1 class="mb-3">Login Here</h1>
        <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              [ngClass]="{
                'is-invalid': emailInput.invalid && emailInput.touched
              }"
              placeholder="Enter email"
              ngModel
              #emailInput="ngModel"
              required
              email
            />
            <div
              *ngIf="emailInput.invalid && emailInput.touched"
              class="invalid-feedback"
            >
              Username is required
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              [ngClass]="{
                'is-invalid': passwordInput.invalid && passwordInput.touched
              }"
              placeholder="Enter password"
              ngModel
              #passwordInput="ngModel"
              required
            />
            <div
              class="invalid-feedback"
              *ngIf="passwordInput.invalid && passwordInput.touched"
            >
              Password is required
            </div>
          </div>
          <button class="btn btn-block btn-dark mt-4">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
